*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,san-serif;
}
.containerFluid
{
   min-height: 100vh;
   width: 100%;
   max-width: 1500px;
}

/* header li,a,button {
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
     
  }
header
{
    display: flex;
    
    align-items: center;
    padding: 30px 10px;
    height: 14vh;
    margin-top: 5px;
    width: 100%;
    
    
}
.logo
{
    cursor: pointer;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
nav
{
    list-style: none;
    margin-left: 200px;;
}
.nav li
{
    display: inline-block;
    padding: 0px 20px;
    
    
}
.nav li a
{
    transition: all 0.3s ease 0s;
    font-size: 18px;
    font-weight: bolder;
     padding: 2px;
    
.nav li a:hover
{
    color: #3586ff;
    transition: 0.5s;
}
#bar
{
    font-size: 50px;
    float: right;
}
.checkbtn
{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 14vh;
    margin-right: 40px;
}
button
{
    padding: 9px 25px;
    background-color: rgba(68, 148, 253,1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bolder;
}
button:hover
{
    background-color: rgba(68, 148, 253,0.8);
} */
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #3586ff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav h1
  {
    color: white;
    font-family:'Pacifico', cursive;
  }
  nav img
  {
    cursor: pointer;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-family: 'montserrat';
    font-size: 18px;
    font-weight: 600;
    
    
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #9ac1fc;
    text-decoration: none;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #3586ff;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: navy;
    }
  }
  @media only screen and (max-width:450px){
    nav img
    {
        display: none;
    }
    nav h1
    {
        font-size: 24px;
    }
  }

.carousel-item
{
    height: 100vh;
    min-height: 200px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.carousel-item::before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
}
.carousel-caption
{
    bottom: 230px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption:first-child()
{
    bottom: 200px;
}

.carousel-caption h5
{
    font-size: 100px;
    font-weight: 700;
}
.carousel-caption p
{
    font-size: 18px;
    top: 2rem;
    font-family: 'Montserrat';
}
.slider-btn
{
    margin-top: 30px;
}
.slider-btn .btn
{
    background-color: #3586ff;
    color: white;
    padding: 1.5rem 2em;
    font-style: 1rem;
    margin-right: 15px;
    border-radius: 38px;
    font-size: 18px;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat';
    font-weight: 700;
}
.slider-btn .btn-2
{
    background-color: white;
    color: #3586ff;
}
.slider-btn .btn:hover
{
    transform: scale(1.1);
    background-color: white;
    color: #1d4d96;

}
.slider-btn .btn-2:hover
{
    background-color: #3586ff;
    color: white;
}


.section1
{
    width: 100%;
    height: 100vh;
}

.section2
{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
}
.article1
{
    width: 55%;
    padding: 20px;

}
.article1 h1
{
    margin-left: 20px;
    font-size: 60px;
    font-weight: bolder;
}
.article1 p 
{
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    width: 85%;
}
#b1
{
    padding: 9px 25px;
    background-color: royalblue;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'montserrat';
    font-weight: 700;
    margin-left: 20px;
}
#b1:hover
{
    color: white;
    background-color: black;
    transform: scale(1.2);
}
.article3 li
{
    font-size: 20px;
    /* font-weight: bold; */
    
}
#icon
{
    margin-right: 8px;
    color: green;
    font-size: 18px;
    font-weight: bolder;
}
.article2
{
    width: 23%;
    padding: 10px;

}
.article3
{
    width: 22%;
    padding: 10px;

}
.article3 ul
{
    list-style: none;
}
.article3 ul li
{
    padding: 20px;
    font-size: 18px;
}
.article2 img
{
    height: 250px;
    width: 250px;
}
@media (max-width:780px)
{
    .section2
{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    /* align-items: center; */
}
.article1
{
    width: 100%;
    padding: 20px;

}
.article1 h1
{
    margin-left: 20px;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}
.article1 p 
{
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    text-align: center;
}
#b1
{
    padding: 9px 25px;
    background-color: royalblue;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'montserrat';
    margin-left: 40%;
}
#b1:hover
{
    color: white;
    background-color: black;
    transform: scale(1.2);
}
.article3 li
{
    font-size: 18px;
    /* font-weight: bold; */
    
}
#icon
{
    margin-right: 8px;
    color: green;
    font-size: 18px;
    font-weight: bolder;
}
.article2
{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;

}
.article3
{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;

}
.article3 ul
{
    list-style: none;
}
.article3 ul li
{
    padding: 10px;
    font-size: 18px;
}
.article2 img
{
    height: 250px;
    width: 250px;
}
}
@media(max-width:520px)
{
    .section2
{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    /* align-items: center; */
}
.article1
{
    width: 100%;
    padding: 20px;

}
.article1 h1
{
    margin-left: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
.article1 p 
{
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    height: 40vh;
    overflow: hidden;
}
}
@media(max-width:311px)
{
    .section2
{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    /* align-items: center; */
}
.article1
{
    width: 100%;
    padding: 20px;

}
.article1 h1
{
    margin-left: 20px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}
.article1 p 
{
    padding: 20px;
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    height: 40vh;
    overflow: hidden;
}
#b1
{
    padding: 9px 20px;
    font-size: 16px;
    margin-left: 20%;
}
}

.section3
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(221, 220, 220);
}
.section3 h5
{
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;
}
.section3 p
{
    width: 80%;
    text-align: center;
}
.block
{
    display: flex;
    margin: 20px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 70%;
}
.box1
{
    width: 20%;
    margin-left: 12%;
    
}
.box1 img
{
    width: 100px;
    height: 100px;
    margin: 20px;
    
}
.box1 .image:hover
{
    transform: scale(1.2);
}
.box1 h3
{
    width: 90%;
    text-align: center;
    padding: 10px;
}
.box1 p
{
    width: 90%;
    text-align: center;
}
@media(max-width:780px){
    .section3
{
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(221, 220, 220);
}

.block
{
    display: flex;
    /* margin-left: 5%; */
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}
.box1
{
    width: 30%;
    margin-left: 10%;
    
}
}
@media(max-width:780px){
    .section3
{
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(221, 220, 220);
}

.block
{
    display: flex;
    /* margin-left: 5%; */
    flex-direction: column;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}
.box1
{
    width: 30%;
    margin-left: 10%;
    
}
.box1 p 
{
    display: none;
}
.box1 h3
{
    width: 100%;
    text-align: center;
    
}
}
@media (max-width:380px)
{
.section3
{
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(221, 220, 220);
}

.block
{
    display: flex;
    /* margin-left: 5%; */
    flex-direction: column;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}
.box1
{
    width: 30%;
    margin-left: 10%;
    
}
.box1 p 
{
    display: none;
}
.box1 h3
{
    width: 100%;
    text-align: center;
    
}
.box1 img
{
    width: 50px;
    height: 50px;
    margin: 20px;
    
}
}

.section4
{
    height: 100vh;
    width: 100%;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2
{
    width: 80%;
    height: 80vh;
    background-color: cornsilk;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container2 h5
{
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;
}
.container2 h1
{
    padding: 10px;
}
.container2 ul
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin-top: 10px;
}
.container2 ul li
{
    margin: 0 5px;
}
.container2 ul li a
{
    color: black;
    text-decoration: none;
    font-family: 'montserrat';
    font-size: 16px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 25px;
    border-color: goldenrod;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
.container2 ul li a.active,
.container2 ul li a:hover{
    color: #111;
    border-color: goldenrod;
    background-color: goldenrod;
    text-decoration: none;
  }

.section5
{
    height: 50vh;
    width: 100%;
    background-image: url("./assets/main4.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background: no-repeat scroll center scroll;
    background-attachment: fixed;  
    margin-bottom: 20px;
}
.section5 h1
{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
    
}
.week
{
    border-radius: 35px;
    background-color: #5486ff;
    padding: 18px;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}
.week:hover
{
    transform: scale(1.2);
    background-color: black;
    color: white;
}
@media(max-width:780px)
{
    .section5 h1
{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color:black;
}
}
.section6
{
    height: 100vh;
    width: 100%;
    background-image: url("./assets/ex3.png");
    display: flex;
    align-items: start;
    /* margin-left: 10px; */
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background: no-repeat scroll center scroll;
    background-attachment: fixed;  
    margin-bottom: 20px;
    
}
.section6 h1
{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 20px;
    color:rgb(31, 30, 30);
    text-align: left;
    
}
.week1
{
    border-radius: 35px;
    background-color: black;
    padding: 18px;
    margin: 20px;
    margin-left: 40px;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}
.week1:hover
{
    transform: scale(1.2);
    background-color: goldenrod;
    color: black;
}
@media(max-width:780px)
{
    .section6 h1
{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color:black;
}
}

/* .section5::before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    background-attachment: fixed;
    opacity: 0.6;
} */

.section7
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(129, 236, 129,0.5);
}
.section7 h1
{
    padding: 20px;
    font-weight: 700;
}
  

.container1
{
    display: flex;
    min-height: 50vh;
    justify-content: flex-end;
    align-items: flex-end;
    
}

footer
{
    position: relative;
    width: 100%;
    background-color: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social-icons, footer .menu
{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center; 
   margin: 10px 0;
    flex-wrap: wrap;
}
footer .social-icons li,footer .menu li
{
    list-style: none;
}
footer .social-icons li a
{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icons li a:hover
{
    transform: translateY(-10px);
}
footer .menu li a
{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    /* transition: 0.5s;  */
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover
{
    opacity: 1;
}
footer p
{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:url("./assets/wave.png");
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 15px;
    animation: animateWave_02 2s linear infinite;
}
footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 10px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    } 
}
