@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins' ,san-serif;
}

.section-title h2 {
  text-transform: uppercase;
}
body{
  background-image:url("../meeting.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-title {
  margin: 3% 0;
}
.section-title p {
  text-transform : uppercase;
  font-weight : bolder;
  font-family: 'montserrat';
}
.single-team{
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow:5px 5px 15px #000;
  
}
 .contain
 {
   margin-top: 20%;
   margin-left: 20%;
 }

.team-img{
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.team-img img{
  width: 100%;
  transition: .3s;
}
.single-team:hover .team-img img {
  transform: scale(1.1);
}
.team-content {
  height: 100px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: all .4s;
  background: tomato;
  z-index:5;
}
.single-team:hover .team-content{
  height: 150px;
}
.team-info {
  padding: 5px 20px 5px 20px;
  transition: all .5s;
}
.single-team:hover .team-content{
  background: #000;
}
.single-team .team-content .team-info h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-family: 'montserrat';
  margin: 5px;
}
.single-team:hover .team-info h3{
  color: tomato;
}
.team-info p {
  margin-top: 15px;
  color: #fff;
  font-family: 'montserrat';
}
.single-team-text p{
  margin-top: 5px;
}
.team-text {
  color: #fff;
  padding: 0 10px 5px;
}
@media(max-width:960px){
  .contain
  {
    margin-left: 1%;
  }
}



/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  padding:15px;
  border-radius:40px;
  background:tomato;
  z-index: 10;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
      